<div class="center" style="background-color: gray;">

<h3 style="text-align: center;">Names List</h3>    
<div style="padding-right:18em;">         
        
        {{#each keynames}}
        <a href="/counter/{{this.greeted_names}}">
            <p>{{this.greeted_names}}</p>
        </a>
        {{/each}}
    </div>
</div>
 <div class="topnav">
 <a class="active" href="/">Back</a>
</div>